@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "animeace2";
  src: url("../font/animeace2_reg.otf") format("opentype");
  /* url("../font/animeace2_reg.otf") format("opentype"); */
  /* Add other formats if needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "animeace2", sans-serif; */
}

.container {
  width: 1280px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.333333333333333%;
}
.col-2 {
  width: 16.66666666666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333333333%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333333%;
}
.col-11 {
  width: 91.66666666666667%;
}
.col-12 {
  width: 100%;
}

header {
  width: 100%;
  background-color: rgba(173, 216, 230, 0.182);
  backdrop-filter: blur(4px);
  position: fixed;
  z-index: 999;
}

header .navbar {
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar .navbar-brand {
  font-family: "animeace2", sans-serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
}

header .navbar .navbar-brand:hover {
  color: #bdbdbd;
}

header .navbar .navbar-nav {
  display: flex;
  gap: 25px;
}

header .navbar .navbar-nav .nav-item {
  background-color: transparent;
  border-radius: 10px;
}

header .navbar .navbar-nav .nav-item .nav-link {
  padding: 10px 0px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  /* border: 2px solid black; */
}

header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #bdbdbd;
}

header .navbar .btn {
  display: flex;
  gap: 10px;
}

header .navbar .btn .btn-login {
  text-decoration: none;
  padding: 10px 14px;
  background-color: #3d3c50;
  border-radius: 10px;
  color: #ffffff;
  transition: 0.3s;
}

header .navbar .btn .btn-get-started {
  text-decoration: none;
  padding: 10px 14px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #373646;
  transition: 0.3s;
}

header .navbar .btn .btn-login:hover {
  background-color: #565574;
}

header .navbar .btn .btn-get-started:hover {
  background-color: #bdbdbd;
}

/* main {
    padding-top: 64px;
  } */

.hero-banner .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  position: relative;
}

.swiper-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #373646, #373646c4, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.swiper-overlay .col-6 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding-left: 50px;
}

.swiper-overlay .col-6 span {
  color: #fff;
}

.swiper-overlay .col-6 .anime-title {
  color: #fff;
  font-size: 24px;
  text-transform: capitalize;
}

.swiper-overlay .col-6 .anime-detail {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

.swiper-overlay .btn {
  display: flex;
  gap: 20px;
}


.swiper-overlay .btn .btn-watch {
  text-decoration: none;
  padding: 10px 28px;
  background-color: #ffffff;
  border-radius: 28px;
  color: #373646;
  transition: 0.3s;
}

.swiper-overlay .btn .btn-watch i {
  color: #373646
}

.swiper-overlay .btn .btn-detail {
  text-decoration: none;
  padding: 10px 14px;
  background-color: #3d3c50;
  border-radius: 28px;
  color: #ffffff;
  transition: 0.3s;
}

.swiper-overlay .btn .btn-detail i {
  color: #ffffff;
}

.swiper-overlay .btn .btn-watch:hover {
  background-color: #bdbdbd;
}

.swiper-overlay .btn .btn-detail:hover {
  background-color: #565574;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.card-area {
  padding: 60px 0;
  background-color: #373646;
}

.card-area .special {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 24px;
  display: block;
}

.card-area .card {
  background-color: #d7d6e1;
  border: 2px solid rgb(213, 105, 206);
  border-radius: 10px;
  padding-bottom: 5px;
  margin: 10px;
}

.card-area .card .card-header {
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.card-area .card .card-header img {
  width: 100%;
  border-radius: 10px;
  transition: 0.2s;
}

.card-area .card:hover .card-header img {
  transform: scale(1.05);
}

.card-area .card .card-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card-area .card .card-detail .card-title {
  height: 40px;
  /* width: 36px; */
  font-size: 16px;
  line-height: 14px;
  text-transform: capitalize;
  display: block;
}

.card-area .card .card-detail .card-ep {
  font-size: 12px;
}

.card-area .card .card-body .card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-area .card .card-body .card-footer .card-text {
  font-size: 14px;
  color: #757575;
}

.card-area .card .card-body .card-footer .btn-watch {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #373646;
  /* background-color: #373646; */
  padding: 8px 16px;
  border: 1px solid #373646;
  border-radius: 5px;
  transition: 0.2s;
}

.card-area .card .card-body .card-footer .btn-watch:hover {
  color: #ffffff;
  background-color: #565574;
}

.footer-area {
  background-color: #565574;
  padding: 30px;
  justify-content: space-between;
}

.footer-area .container {
  display: flex;
  justify-content: space-between;
}

.footer-area .info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-area .info a {
  text-decoration: none;
  color: #ffffff;
}

.footer-area .social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-area .social a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}